.contact-section {
  min-height: auto;
  padding: 100px 10%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-title {
  margin-bottom: 50px;
}

.contact-title h1 {
  font-size: 3rem;
  color: #ffffff;
  letter-spacing: 5px;
  font-family: monospace;
  text-shadow: 0 0 15px #ff0000;
  transition:
    text-shadow 0.3s ease,
    transform 0.3s ease;
}

.contact-title h1:hover {
  text-shadow:
    0 0 30px #ffffff,
    0 0 60px #000000;
  transform: scale(1);
}

.contact-container {
  border: 1px solid rgba(255, 255, 255, 0.1);

  padding: 50px;

  border-radius: 20px;

  background: rgba(255, 255, 255, 0.03);

  backdrop-filter: blur(10px);
}

.contact-container p {
  margin-bottom: 40px;

  line-height: 2;

  color: #cccccc;

  font-size: 1.1rem;
}

.contact-links {
  display: flex;

  flex-wrap: wrap;

  gap: 20px;
}

.contact-links a {
  text-decoration: none;

  color: white;

  border: 1px solid rgba(255, 255, 255, 0.2);

  padding: 15px 25px;

  border-radius: 12px;

  transition: 0.3s ease;

  font-family: monospace;
}

.contact-links a:hover {
  background: #ff2a2a;

  transform: translateY(-5px);

  box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
}
